body{
    margin: 0;
    scroll-behavior: smooth;
   
}

.little_component{
    .container{
        position: relative;
        .go-top{
            position: absolute;
            position: fixed;
            top: 80vh;
            right: 10px;
            z-index: 5;
        }
        .go-top:hover {
            transform: scaleX(1.2) scaleY(1.2);
            transition: 0.5s;

        }
    }
}

.card{
    margin-top: 15px;
}

.resume{
    text-align: justify;
}

.remove{
    display: none;
}


.btn-selfColor{
    background-color:#eeeeee;
}
.btn-selfColor:hover{
    color: white;
    background-color:#141414b4;
}

.container{
    nav{
        .navbar-brand{
            pointer-events: none;
        }
    }
}
.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}
.bg-middle{
    background-color:#f8f8f8 ;
}




footer{
    .copyrigth{
        padding-top: 20px;
        p{
            text-align: center;
            max-width: 200px;
            margin: 0 auto;
        }
    }
}

// #f8f8f8



